@model IEnumerable<NegoSoftShared.Models.Entities.CustomerOrder>

@{
    ViewData["Title"] = "Historique des Commandes";
}

<h1>@ViewData["Title"]</h1>

<table class="table mt-3">
    <thead>
        <tr>
            <th>ID Commande</th>
            <th>Date</th>
            <th>État</th>
            <th>Total</th>
            <th>Détails</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.CoId</td>
                <td>@order.CoDate.ToString("dd/MM/yyyy")</td>
                <td>@order.CoState</td>
                <td>@order.CoTotal.ToString("F2") €</td>
                <td>
                    <a asp-controller="CustomerOrder" asp-action="Details" asp-route-orderId="@order.CoId" class="btn btn-primary btn-history">Voir les détails</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="text-right">
    <a asp-area="Identity" asp-page="/Account/Manage/Index" class="btn btn-primary btn-infoperso" title="Manage">Retour</a>
</div>
